.mixer-section {
  padding: 0 40px;
  .mixer-area {
    position: relative;
    .widget-loader {
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 100%;
    }
    .widgets-wrapper {
      text-align: left;
      margin: 50px 6% 0;
      max-width: 690px;
    }
  }
  .btn-mix {
    background-color: #03a9f4;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    min-width: 90px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.2s ease;
    margin: 0 auto 20px;
    &:hover {
      opacity: 0.9;
    }
  }
}

.popup-header {
  color: var(--color-primary);
  position: relative;
  top: 10px;
  margin-top: 10px;
}
