.intro-section {
  background-color: #000;
  color: var(--color-primary);
  display: flex;
  width: 80%;
  margin: 0 auto;
  .text-wrapper {
    flex: 1;
    text-align: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    .intro-title {
      font-size: 56px;
      letter-spacing: -1px;
      margin-bottom: 0;
    }
    .intro-description {
      font-size: 34px;
    }
  }
  .logo-wrapper {
    display: none;
    margin-left: 40px;
    margin-right: 40px;
    img {
      height: 134px;
      width: 134px;
      border-radius: 4px;
    }
  }
  @media (min-width: 1100px) {
    justify-content: flex-end;
    // margin: 0 -130px 0 0;
    .text-wrapper {
      .intro-description {
        text-align: left;
      }
    }
    .logo-wrapper {
      display: block;
    }
  }
}

.mixer-section {
  padding-top: 40px;
  .intro-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin: auto;
    .titles-wrapper {
      .title,
      .description {
        font-weight: 400;
        color: var(--color-primary);
      }
      .title {
        letter-spacing: -0.6px;
        font-size: 56px;
        margin-bottom: 16px;
      }
      .description {
        font-size: 34px;
      }
    }
    .logo-wrapper {
      margin-left: 40px;
      .logo {
        height: 134px;
        width: 134px;
        border-radius: 4px;
      }
    }
  }
  .widget-wrapper {
    width: 50%;
    margin: 50px auto;
    .widget-box {
      border: 1px solid #03a9f4;
      border-radius: 4px;
      .widget-header {
        border-radius: 4px 4px 0 0;
        color: white;
        background-color: #03a9f4;
        font-weight: bold;
        padding: 0 3px;
      }
      .widget-content {
        padding: 1.5rem 1.9rem;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
