.completion-wrapper {
  padding: 0 40px 40px;
}

.content-holder {
  margin: 0 15%;
  h3 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 40px;
  }
}

.content-aligner {
  margin: 0;
  margin-left: -100px;
  padding: 0;
  border-collapse: collapse;
  tr,
  td {
    &:first-of-type {
      width: 100px;
      vertical-align: top;
    }
    h4 {
      color: var(--color-primary);
      font-size: 30px;
      font-weight: 400;
      line-height: 32px;
      margin: 30px 0 15px;
    }
    p {
      color: black;
      font-size: 18px;
    }
  }
}

.bitcoin-address-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 8px;
}

.address-box {
  position: relative;
  background-color: #e1f5fe;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 18.4px;
  flex-grow: 2;
  max-width: 500px;
  margin: 6px 10px 6px 0;
  padding: 32px 14px 16px;
  border: 2px solid #03a9f4;
  border-radius: 2px;
  &.qr-box {
    flex-grow: 0 !important;
    padding: 32px 24px 16px;
    img.qr-image {
      height: 250px;
      width: 250px;
    }
  }
  .header {
    position: absolute;
    color: white;
    background-color: #03a9f4;
    font-size: 16px;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 2px;
  }
  .btc-address a {
    color: #333333;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
  }
  .view-toggler {
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.copy-address-btn {
  color: white;
  background-color: #03a9f4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  margin: 6px 0;
  padding: 7px 12px !important;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 36px;
  cursor: pointer;
  &:hover {
    background-color: #29b6f6;
  }
}

.transaction-btc-amount {
  margin-bottom: 10px;
}

.download-letterbox {
  position: relative;
  background-color: #e1f5fe;
  max-width: 300px;
  font-size: 16px;
  text-align: center;
  margin: 6px 10px 6px 0;
  padding: 42px 10px 0px;
  border: 2px solid #03a9f4;
  border-radius: 2px;
  .header {
    position: absolute;
    color: white;
    background-color: #03a9f4;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 2px;
  }
  a {
    color: #03a9f4 !important;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
}

.continue-btn {
  background-color: #03a9f4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  margin: 7px 0 20px 0;
  padding: 7px 20px;
  transition: opacity 0.2s ease;
  border-radius: 2px;
  &:hover {
    opacity: 0.9;
  }
}

.btc-amount-wrapper {
  position: relative;
  width: 300px;
  padding: 20px 0;
  .error-message {
    position: absolute;
    color: #de3226;
    bottom: 18px;
    left: 0;
  }
  label {
    color: var(--color-primary) !important;
    font-size: 18px;
  }
  input {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
}

.divider {
  background-color: #e1f5fe;
  height: 2px;
  width: 100%;
  margin: 40px 0;
}
