* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline: none !important;
}

html,
body {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.color-custom-primary {
  color: var(--color-primary);
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    appearance: none;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
